
#registerForm {
  text-align: center;
  width: 100%;
}

.regist-log-form {
  display: inline-block;
  margin: 0 auto;
  width: 413px;
}

.regist-log-form > fieldset {
  border: 4px double red;
}

.regist-log-form button {
  padding: 7px 15px 8px 15px;
  margin-top: 25px;
}
