
#popup {
  position: absolute;
  width: 500px;
  left: calc(50% - calc(500px / 2));
  background-color: white;
  padding: 10px;
  opacity: 1;
  top: 0;
  transition: all 0.8s ease-out;
}

#popup.hidden {
  opacity: 0;
  top: -400px;
}
