#popup-controller {
  position: fixed;
  width: 600px;
  top: 4px;
  left: calc(50% - calc(600px / 2));
  text-align: center;
}

#popup-controller .popup-container {
  margin: 5px 0;
}

#popup-controller .popup {
  display: inline-block;
  padding: 3px 12px;
  background-color: palegoldenrod;
  border: 1px solid gray;
  color: black;
  border-radius: 4px;

  animation: fadein 0.4s;
}

#popup-controller .popup.closed {
  animation: fadeout 0.4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.9;
  }
}

@keyframes fadeout {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 0;
  }
}

#popup-controller .popup-button {
  /* Resetear estilos para que parezca un link. */
  background-color: transparent;
  margin: 0;
  padding: 0;
  border: 0px;
  text-decoration: underline;
  color: white;
  line-height: inherit;
  font-size: inherit;
  box-shadow: 0 0 0 transparent !important;
  outline: 0;
}

#popup-controller .error {
  background-color: red;
  border-color: white;
}

#popup-controller .log {
  background-color: white;
  border-color: yellow;
}

#popup-controller .log a{
 color:inherit;
}
