.modal {
  font-size: 0.8em !important;
}
.modal > .header {
  text-align: center;
}
.modal > .header h2 {
  margin: 0;
  padding: .3em 0;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

.popup-content {
  background-color: inherit !important;
  background-image: linear-gradient(to bottom, black, transparent);
}

.modal .confirm, .modal .cancel {
  background-color: #f22;
  font-size: 1.2em;
  padding: 6px;
}
