body {
  margin: 0;
  font-family: 'ZCOOL XiaoWei', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111;
  color: white;
  font-size: 1.2em;
}

header {
  background-image: linear-gradient(to bottom, black, transparent);
}
 header h1 {
    text-align:center;
    margin: 0;
}

 h1,h2,h3,h4,h5,h6 {
    font-family: 'UnifrakturMaguntia', cursive;
    color: #f00;
    font-weight: normal;
    font-size: 1.7em;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin: 0.6em 0.1em;
}


button {
    background-color: red;
    border: 1px solid black;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    border-radius: 3px;
    margin: 2px;
    font: inherit;
    padding: 4px;
    cursor: pointer;
    box-shadow: 0 0 4px rgba(255,255,255,0.5);
}

button.selected, button:active {
    background-color: lightgrey;
    color:black;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
}

button:disabled {
    background-color: grey !important;
    box-shadow: none !important;
    cursor: not-allowed;
}

button:hover {
  background-color: brown;
}

.tooltip {
  font-style: italic;
  opacity: 0.4;
}

@keyframes fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: 3s fadein;
}

a, a:active, a:visited {
  color: red;
}

a:hover {
  color: brown;
}

button.end-turn-button {
  color: #333333;
  background-color: white;
}

button.end-turn-button:hover {
  background-color: #c5c5c5;
}
